html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

/* Remove input autofill background color in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}
